#######################################################################################################################
# Infrastructure. Do not change versions without approval of the Engineering Lead.
#######################################################################################################################
aws-cdk-lib>=2.248.0,<3.0.0
constructs>=10.5.0,<11.0.0

#######################################################################################################################
# Backend. Do not change versions without approval of the Engineering Lead.
#######################################################################################################################
fastapi==0.136.0
uvicorn==0.46.0

